# gradle

.gradle/
.kotlin/
build/
out/
classes/
dist/
node_modules/
.wrangler/
.vite/

# eclipse

*.launch

# idea

.idea/
.codex/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
SA_2.8.5/
rsa-main/
mrairarity-template-1.21.10/
oldheads-template-1.21.10/
simonshutup_1.5.0/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/references/
**/.dev.vars
